.home{
  position: relative;
  top: 10rem;
  background-color: #121212;
  color: white;
  height: 84vh;
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #97FB57;
  color: #121212;
}
.header{
  position: fixed;
  height: 10rem;
  width: 100%;
  background-color: #97FB57;
  margin-bottom: 10rem;
}
.card{
  position: relative;
  top: 1rem;
  height: 90%;
  width: 20rem;
  background-color: #97FB57; 
}
.slip{
  position: relative;
  top: 1rem;
  height: 90%;
  width: 20rem;
  background-color: #97FB57;
}
.view{
  position: relative;
  top: 1rem;
  width: 65rem;
  border: 1px solid;
  height: 90%;
  overflow:auto;
}
.sliphead{
  margin-top: 0.3em;
  text-align: center;
  border: 2px solid #121212;
  border-left: none ; 
  border-top: none;
  border-right: none;
  text-transform: uppercase;
}
.hide{
  font-size: 1.5rem;
}
#countries{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-gap:10px; 
 padding: 0.5rem;
}
.country{
  border: 1px solid;
  height: 13rem;
  width: 15rem;
}
.country-image{
  width: 100%;
  height: 60%;
}
nav a{
  text-decoration: none;
}
nav a::after{
  content: "\a";
    white-space: pre;
}
.standings{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.standing{
  border: 1px solid;
  padding: 10px;
  width: 20rem;
 
}
 th {
  border: 1px solid;
}
.empty{
  border: none;
}
.bettable{
  border: 1px solid;
  width: 30rem;
  height: auto;
  margin: 1rem;
}
.bet{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
table{
  margin: 4px;
}
tr{
  width: 100%;
}