.home{
  position: relative;
  top: 10rem;
  background-color: #121212;
  color: white;
  height: 84vh;
}
button {
  background-color: #97FB57;
  color: #121212;
}
.header{
  position: fixed;
  height: 10rem;
  width: 100%;
  background-color: #97FB57;
  margin-bottom: 10rem;
}